doctype html
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/mpa/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/mpa/css/style.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
		block head
	body
		block content
		script(src='/mpa/vendor/jquery-2.2.3.min.js')
		script(src='/mpa/vendor/jquery.form.min.js')
		script(src='/mpa/vendor/bootstrap.min.js')
		block scripts